asgiref==3.12.1
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.1
Django==6.0.7
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.30.0
gunicorn==26.0.0
Pillow==12.3.0
psycopg2-binary==2.9.12
python-decouple==3.8
sqlparse==0.5.5
tzdata==2026.3
